@{
    Layout = null;
    string msg = string.IsNullOrEmpty((string)ViewBag.ErrorMessage)
        ? "Connection error. Please retry." : (string)ViewBag.ErrorMessage;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sussex County Fairgrounds</title>
</head>
<body style="background-image:url('@Url.Content("~/Styles/Images/mainpage-bg.jpg")'); background-repeat:no-repeat; background-position:center; background-size:cover; background-attachment:fixed; margin:0; padding:0; height:100%; width:100%; font-family">
    <a href="javascript:void(0)">
        <img style="width:226px; margin-left:auto; margin-right:auto; margin-top: 4%; display:block;" src='@Url.Content("~/Styles/Images/logo_nj.png")' alt alt="Sussex County Fairgrounds" />
    </a>
    <div style="background: #f4bf14; -webkit-box-shadow: 0 0 12px #CB2127; -moz-box-shadow: 0 0 12px #CB2127; box-shadow: 0 0 12px #CB2127; border: 1px solid #CB2127; text-align: center; width: 90%; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 2% auto 0; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;">
        <p style="margin: 0; font-size: 12px; line-height: 18px; color: #000;">
            <span style="display: block; text-transform: uppercase; clear: both; color: #CB2127; font-size: 14px; line-height: 20px; font-weight: bold; padding: 0 0 6px; font-family: Georgia, 'Times New Roman', Times, serif">Error!</span>@msg
        </p>
    </div>
</body>
</html>
