@model List<NJFairground.Web.Models.PageItemModel>
@using NJFairground.Web.Utilities
@using NJFairground.Web.Models
@{
    ViewBag.Title = "Fun | Sussex County Fairgrounds";
    ViewBag.PageId = "fun";
}

<h2 class="title">Fun</h2>
<div class="ui-grid-solo fun-blocks">
    @foreach (var pageItemdata in Model)
    {
        <div class="ui-block-a fun-block">
            <div class="text">
                <h4>@pageItemdata.PageHeaderText</h4>
                <p>@pageItemdata.PageSubHeaderText</p>
            </div>
            <div class="action">
                <a title="Details" class="details" href="@Url.Action("Index", "Details", new { PageId = (int)NJFairground.Web.Models.Page.Fun, PageItemId = pageItemdata.PageItemId }) ">Details</a>
                <img class="fun-pic" src='@pageItemdata.PageItemImageUrl' alt="">
            </div>
        </div>
    }
</div>

