@{
    ViewBag.Title = "Map | Sussex County Fairgrounds";
    ViewBag.PageId = "map";
    Layout = "~/Views/Shared/_LayoutPage.mobile.cshtml";
}

<div class="navbar">
    <ul>
        <li class="first"><a href="Fair">The Fair</a></li>
        <li><a href="Fun">Fun</a></li>
        <li><a href="Info">Info</a></li>
        <li><a href="Social">Social</a></li>
        <li class="last active"><a href="javascript:void(0)">Map</a></li>
    </ul>
</div>
<div class="ui-grid-solo highlights">
    <div class="ui-block-a highlight">
        <div style="font-family: 'cafe_nero_m54regular'; font-weight: normal; font-size: 17px; line-height: 27px; color: #fff; letter-spacing: 4px; text-shadow: 1px 2px 1px #3e2809; text-align: center;">
            <h2>@Html.Raw("Not available yet…coming soon")</h2>
        </div>
    </div>
</div>
