@{
    ViewBag.Title = "Map | Sussex County Fairgrounds";
    ViewBag.PageId = "map";
    Layout = "~/Views/Shared/_LayoutPage.mobile.cshtml";
}

<div class="navbar">
    <ul>
        <li class="first"><a href="Fair">The Fair</a></li>
        <li><a href="Fun">Fun</a></li>
        <li><a href="Info">Info</a></li>
        <li><a href="Social">Social</a></li>
        <li class="last active"><a href="javascript:void(0)">Map</a></li>
    </ul>
</div>
<div class="ui-grid-solo inner-page">
    <img class="inner-banner map" src="images/map.png" alt="">
</div>
