@model List<NJFairground.Web.Models.PageItemModel>
@using NJFairground.Web.Utilities
@{
    Layout = "~/Views/Shared/_LayoutPage.mobile.cshtml";
    ViewBag.PageId = "whats-new";
}

<h2 class="title">What's New!</h2>
<div class="ui-grid-solo fun-blocks">
    @foreach (var pageItemdata in Model)
    {
        <div class="ui-block-a fun-block">
            <div class="text">
                <h4>@pageItemdata.PageHeaderText</h4>
                <p>@pageItemdata.PageSubHeaderText</p>
            </div>
            <div class="action">
                @Html.ActionLink("Details", "Index", "Details", new { PageId = Convert.ToInt32(NJFairground.Web.Models.Page.WhatsNew), PageItemId = pageItemdata.PageItemId },
                    new { title = "Details", @class = "details" })
                <img class="fun-pic" src='@Url.Content(string.Format("{0}{1}", CommonUtility.GetAppSetting<string>("UploadFolderItemImagePath"), pageItemdata.PageItemImage))' alt="">
            </div>
        </div>
    }
</div>
