
ALTER TABLE [UserImage] DROP CONSTRAINT [FK__UserImage__UserK__3D5E1FD2]
GO
ALTER TABLE [PageItemDetail] DROP CONSTRAINT [FK_PageItemDetail_PageItem]
GO
ALTER TABLE [PageItemDetail] DROP CONSTRAINT [FK_PageItemDetail_Page]
GO
ALTER TABLE [PageItem] DROP CONSTRAINT [FK_PageItem_Page]
GO
ALTER TABLE [PageHeader] DROP CONSTRAINT [FK_PageHeader_PageItem]
GO
ALTER TABLE [PageHeader] DROP CONSTRAINT [FK_PageHeader_Page]
GO
ALTER TABLE [FavoritePage] DROP CONSTRAINT [FK__FavoriteP__UserK__4222D4EF]
GO
ALTER TABLE [FavoritePage] DROP CONSTRAINT [FK__FavoriteP__PageI__440B1D61]
GO
ALTER TABLE [FavoritePage] DROP CONSTRAINT [FK__FavoriteP__PageI__4316F928]
GO
ALTER TABLE [FavoriteImage] DROP CONSTRAINT [FK__FavoriteI__UserI__48CFD27E]
GO
ALTER TABLE [Event] DROP CONSTRAINT [FK_Event_PageItem]
GO
ALTER TABLE [Event] DROP CONSTRAINT [FK_Event_Page]
GO
ALTER TABLE [UserInfo] DROP CONSTRAINT [DF__UserInfo__Create__3A81B327]
GO
ALTER TABLE [UserInfo] DROP CONSTRAINT [DF__UserInfo__Status__398D8EEE]
GO
ALTER TABLE [UserInfo] DROP CONSTRAINT [DF__UserInfo__LastNa__38996AB5]
GO
ALTER TABLE [UserImage] DROP CONSTRAINT [DF__UserImage__Creat__3F466844]
GO
ALTER TABLE [UserImage] DROP CONSTRAINT [DF__UserImage__Statu__3E52440B]
GO
ALTER TABLE [PageItem] DROP CONSTRAINT [DF__PageItem__ItemOr__182C9B23]
GO
ALTER TABLE [PageItem] DROP CONSTRAINT [DF_PageItem_ActivatedOn]
GO
ALTER TABLE [PageItem] DROP CONSTRAINT [DF_PageItem_CreatedOn]
GO
ALTER TABLE [Page] DROP CONSTRAINT [DF__Page__PageImage__35BCFE0A]
GO
ALTER TABLE [Page] DROP CONSTRAINT [DF__Page__PageConten__34C8D9D1]
GO
ALTER TABLE [FavoritePage] DROP CONSTRAINT [DF__FavoriteP__Creat__45F365D3]
GO
ALTER TABLE [FavoritePage] DROP CONSTRAINT [DF__FavoriteP__Statu__44FF419A]
GO
ALTER TABLE [FavoriteImage] DROP CONSTRAINT [DF__FavoriteI__Creat__4AB81AF0]
GO
ALTER TABLE [FavoriteImage] DROP CONSTRAINT [DF__FavoriteI__Statu__49C3F6B7]
GO
/****** Object:  Table [UserInfo]    Script Date: 4/19/2015 12:31:27 PM ******/
DROP TABLE [UserInfo]
GO
/****** Object:  Table [UserImage]    Script Date: 4/19/2015 12:31:27 PM ******/
DROP TABLE [UserImage]
GO
/****** Object:  Table [PageItemNew]    Script Date: 4/19/2015 12:31:27 PM ******/
DROP TABLE [PageItemNew]
GO
/****** Object:  Table [PageItemDetailBackup]    Script Date: 4/19/2015 12:31:27 PM ******/
DROP TABLE [PageItemDetailBackup]
GO
/****** Object:  Table [PageItemDetail]    Script Date: 4/19/2015 12:31:27 PM ******/
DROP TABLE [PageItemDetail]
GO
/****** Object:  Table [PageItem]    Script Date: 4/19/2015 12:31:27 PM ******/
DROP TABLE [PageItem]
GO
/****** Object:  Table [PageHeader]    Script Date: 4/19/2015 12:31:27 PM ******/
DROP TABLE [PageHeader]
GO
/****** Object:  Table [Page]    Script Date: 4/19/2015 12:31:27 PM ******/
DROP TABLE [Page]
GO
/****** Object:  Table [FavoritePage]    Script Date: 4/19/2015 12:31:27 PM ******/
DROP TABLE [FavoritePage]
GO
/****** Object:  Table [FavoriteImage]    Script Date: 4/19/2015 12:31:27 PM ******/
DROP TABLE [FavoriteImage]
GO
/****** Object:  Table [Event]    Script Date: 4/19/2015 12:31:27 PM ******/
DROP TABLE [Event]
GO
/****** Object:  Table [Event]    Script Date: 4/19/2015 12:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Event](
	[EventId] [int] NOT NULL,
	[PageId] [int] NOT NULL,
	[PageItemId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[EventTitle] [varchar](100) NOT NULL,
	[EventDesc] [nvarchar](1000) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [FavoriteImage]    Script Date: 4/19/2015 12:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FavoriteImage](
	[FavoriteImageId] [int] IDENTITY(1,1) NOT NULL,
	[UserImageId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [FavoritePage]    Script Date: 4/19/2015 12:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FavoritePage](
	[FavoritePageId] [int] IDENTITY(1,1) NOT NULL,
	[UserKey] [int] NOT NULL,
	[PageId] [int] NOT NULL,
	[PageItemId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoritePageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Page]    Script Date: 4/19/2015 12:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Page](
	[PageId] [int] NOT NULL,
	[PageName] [varchar](50) NOT NULL,
	[PageDesc] [nvarchar](50) NULL,
	[StatusId] [int] NOT NULL,
	[Version] [timestamp] NOT NULL,
	[PageContent] [nvarchar](max) NULL,
	[PageImage] [nvarchar](500) NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PageHeader]    Script Date: 4/19/2015 12:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PageHeader](
	[PageHeaderId] [int] NOT NULL,
	[PageId] [int] NOT NULL,
	[PageItemId] [int] NOT NULL,
	[PageHeaderText] [varchar](50) NULL,
	[PageSubHeaderText] [varchar](50) NULL,
	[StatusId] [int] NOT NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_PageHeader] PRIMARY KEY CLUSTERED 
(
	[PageHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PageItem]    Script Date: 4/19/2015 12:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PageItem](
	[PageItemId] [int] NOT NULL,
	[PageId] [int] NOT NULL,
	[PageItemType] [int] NOT NULL,
	[PageHeaderText] [varchar](1000) NOT NULL,
	[PageSubHeaderText] [varchar](1000) NULL,
	[PageItemImage] [varchar](200) NULL,
	[PageItemDetailText] [varchar](max) NOT NULL,
	[PageItemSubDetail] [varchar](1000) NULL,
	[StatusId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ActivatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[Version] [timestamp] NULL,
	[ItemOrder] [int] NOT NULL,
 CONSTRAINT [PK_PageItem] PRIMARY KEY CLUSTERED 
(
	[PageItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PageItemDetail]    Script Date: 4/19/2015 12:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PageItemDetail](
	[PageItemDetailId] [int] NOT NULL,
	[PageId] [int] NOT NULL,
	[PageItemId] [int] NOT NULL,
	[PageItemDetailText] [nvarchar](2000) NOT NULL,
	[PageItemSubDetail] [nvarchar](1000) NULL,
	[StatusId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_PageItemDetail] PRIMARY KEY CLUSTERED 
(
	[PageItemDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [PageItemDetailBackup]    Script Date: 4/19/2015 12:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PageItemDetailBackup](
	[PageItemId] [int] NOT NULL,
	[PageId] [int] NOT NULL,
	[PageItemType] [int] NOT NULL,
	[PageHeaderText] [varchar](1000) NOT NULL,
	[PageSubHeaderText] [varchar](1000) NULL,
	[PageItemImage] [varchar](200) NULL,
	[PageItemDetailText] [varchar](max) NOT NULL,
	[PageItemSubDetail] [varchar](1000) NULL,
	[StatusId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ActivatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[Version] [timestamp] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PageItemNew]    Script Date: 4/19/2015 12:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [PageItemNew](
	[PageItemId] [int] NOT NULL,
	[PageId] [int] NOT NULL,
	[PageItemType] [int] NOT NULL,
	[PageHeaderText] [varchar](1000) NOT NULL,
	[PageSubHeaderText] [varchar](1000) NULL,
	[PageItemImage] [varchar](200) NULL,
	[PageItemDetailText] [varchar](max) NOT NULL,
	[PageItemSubDetail] [varchar](1000) NULL,
	[StatusId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ActivatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[Version] [timestamp] NULL,
	[ItemOrder] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [UserImage]    Script Date: 4/19/2015 12:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserImage](
	[UserImageId] [int] IDENTITY(1,1) NOT NULL,
	[UserKey] [int] NOT NULL,
	[UserImageUrl] [nvarchar](500) NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [UserInfo]    Script Date: 4/19/2015 12:31:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserInfo](
	[UserKey] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](200) NOT NULL,
	[UserEmail] [nvarchar](200) NOT NULL,
	[FirstName] [nvarchar](200) NOT NULL,
	[LastName] [nvarchar](200) NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [Page] ([PageId], [PageName], [PageDesc], [StatusId], [PageContent], [PageImage]) VALUES (1, N'Page1', N'Page1', 1, NULL, NULL)
GO
INSERT [Page] ([PageId], [PageName], [PageDesc], [StatusId], [PageContent], [PageImage]) VALUES (2, N'Page2', N'Page2', 1, NULL, NULL)
GO
INSERT [Page] ([PageId], [PageName], [PageDesc], [StatusId], [PageContent], [PageImage]) VALUES (3, N'Page3', N'Page3', 1, NULL, NULL)
GO
INSERT [PageHeader] ([PageHeaderId], [PageId], [PageItemId], [PageHeaderText], [PageSubHeaderText], [StatusId]) VALUES (1, 12, 1201, N'Lorem Ipsum Text', N'Lorem ipsum dumy text Lorem', 1)
GO
INSERT [PageHeader] ([PageHeaderId], [PageId], [PageItemId], [PageHeaderText], [PageSubHeaderText], [StatusId]) VALUES (2, 12, 1202, N'Lorem Ipsum Text', N'Lorem ipsum dumy text Lorem', 1)
GO
INSERT [PageHeader] ([PageHeaderId], [PageId], [PageItemId], [PageHeaderText], [PageSubHeaderText], [StatusId]) VALUES (3, 12, 1203, N'Lorem Ipsum Text', N'Lorem ipsum dumy text Lorem', 1)
GO
INSERT [PageItemDetail] ([PageItemDetailId], [PageId], [PageItemId], [PageItemDetailText], [PageItemSubDetail], [StatusId], [CreatedOn]) VALUES (12001, 12, 1201, N'Lorem Ipsum Text', N'Lorem ipsum dumy text Lorem', 1, CAST(0x0000A30500000000 AS DateTime))
GO
INSERT [PageItemDetail] ([PageItemDetailId], [PageId], [PageItemId], [PageItemDetailText], [PageItemSubDetail], [StatusId], [CreatedOn]) VALUES (12002, 12, 1202, N'Lorem Ipsum Text', N'Lorem ipsum dumy text Lorem', 1, CAST(0x0000A30500000000 AS DateTime))
GO
ALTER TABLE [FavoriteImage] ADD  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [FavoriteImage] ADD  DEFAULT ((1)) FOR [CreatedOn]
GO
ALTER TABLE [FavoritePage] ADD  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [FavoritePage] ADD  DEFAULT ((1)) FOR [CreatedOn]
GO
ALTER TABLE [Page] ADD  DEFAULT ('') FOR [PageContent]
GO
ALTER TABLE [Page] ADD  DEFAULT ('') FOR [PageImage]
GO
ALTER TABLE [PageItem] ADD  CONSTRAINT [DF_PageItem_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [PageItem] ADD  CONSTRAINT [DF_PageItem_ActivatedOn]  DEFAULT (getdate()) FOR [ActivatedOn]
GO
ALTER TABLE [PageItem] ADD  DEFAULT ((0)) FOR [ItemOrder]
GO
ALTER TABLE [UserImage] ADD  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [UserImage] ADD  DEFAULT ((1)) FOR [CreatedOn]
GO
ALTER TABLE [UserInfo] ADD  DEFAULT ('') FOR [LastName]
GO
ALTER TABLE [UserInfo] ADD  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [UserInfo] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Page] FOREIGN KEY([PageId])
REFERENCES [Page] ([PageId])
GO
ALTER TABLE [Event] CHECK CONSTRAINT [FK_Event_Page]
GO
ALTER TABLE [Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_PageItem] FOREIGN KEY([PageItemId])
REFERENCES [PageItem] ([PageItemId])
GO
ALTER TABLE [Event] CHECK CONSTRAINT [FK_Event_PageItem]
GO
ALTER TABLE [FavoriteImage]  WITH CHECK ADD FOREIGN KEY([UserImageId])
REFERENCES [UserImage] ([UserImageId])
GO
ALTER TABLE [FavoritePage]  WITH CHECK ADD FOREIGN KEY([PageId])
REFERENCES [Page] ([PageId])
GO
ALTER TABLE [FavoritePage]  WITH CHECK ADD FOREIGN KEY([PageItemId])
REFERENCES [PageItem] ([PageItemId])
GO
ALTER TABLE [FavoritePage]  WITH CHECK ADD FOREIGN KEY([UserKey])
REFERENCES [UserInfo] ([UserKey])
GO
ALTER TABLE [PageHeader]  WITH CHECK ADD  CONSTRAINT [FK_PageHeader_Page] FOREIGN KEY([PageId])
REFERENCES [Page] ([PageId])
GO
ALTER TABLE [PageHeader] CHECK CONSTRAINT [FK_PageHeader_Page]
GO
ALTER TABLE [PageHeader]  WITH CHECK ADD  CONSTRAINT [FK_PageHeader_PageItem] FOREIGN KEY([PageItemId])
REFERENCES [PageItem] ([PageItemId])
GO
ALTER TABLE [PageHeader] CHECK CONSTRAINT [FK_PageHeader_PageItem]
GO
ALTER TABLE [PageItem]  WITH CHECK ADD  CONSTRAINT [FK_PageItem_Page] FOREIGN KEY([PageId])
REFERENCES [Page] ([PageId])
GO
ALTER TABLE [PageItem] CHECK CONSTRAINT [FK_PageItem_Page]
GO
ALTER TABLE [PageItemDetail]  WITH CHECK ADD  CONSTRAINT [FK_PageItemDetail_Page] FOREIGN KEY([PageId])
REFERENCES [Page] ([PageId])
GO
ALTER TABLE [PageItemDetail] CHECK CONSTRAINT [FK_PageItemDetail_Page]
GO
ALTER TABLE [PageItemDetail]  WITH CHECK ADD  CONSTRAINT [FK_PageItemDetail_PageItem] FOREIGN KEY([PageItemId])
REFERENCES [PageItem] ([PageItemId])
GO
ALTER TABLE [PageItemDetail] CHECK CONSTRAINT [FK_PageItemDetail_PageItem]
GO
ALTER TABLE [UserImage]  WITH CHECK ADD FOREIGN KEY([UserKey])
REFERENCES [UserInfo] ([UserKey])
GO
