@{
    ViewBag.Title = "Fairgrounds Complex | Sussex County Fairgrounds";
    ViewBag.PageId = "complex";
    Layout = "~/Views/Shared/_LayoutPage.mobile.cshtml";
}
<h2 class="title">Fairgrounds Complex All Season/Events/Rentals</h2>
<div class="ui-grid-solo highlights complex inner-page">
    <img class="inner-banner" src='@Url.Content("~/Styles/images/banner-complex.jpg")' alt="">
   
        @for (var i = 0; i < 5; i++)
        { 
     
            <div class="ui-block-a highlight">
                <div class="text">
                    <h4>Lorem Ipsam</h4>
                    <p>Lorem ipsum dummy text include</p>
                </div>
                <div class="action">
                    <a title="Details" class="details" href="javascript:void(0)">Details</a>
                    <img class="star" src='@Url.Content("~/Styles/images/star.png")' alt="">
                </div>
            </div>
        }

    </div>
