@model NJFairground.Web.Models.PageModel
@{
    ViewBag.Title = "Food Finder | Sussex County Fairgrounds";
    ViewBag.PageId = "food-finder";
}
<h2 class="title">Food Finder</h2>
<div class="ui-grid-solo fun-blocks">
    @foreach (var pageItemdata in Model.PageItems)
    {
        <div class="ui-block-a fun-block">
            <div class="text">
                <h4>@pageItemdata.PageHeaderText</h4>
                <p>@Html.Raw(pageItemdata.PageSubHeaderText)</p>
            </div>
            <div class="action">
                <a title="Details" class="details" href="@Url.Action("Index", "Details", new { PageId = Convert.ToInt32(NJFairground.Web.Models.Page.Food), PageItemId = pageItemdata.PageItemId }) ">Details</a>
            </div>
        </div>
    }
</div>