@using NJFairground.Web.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
@section AdimnPageScripts{
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('change', '#page-selection', function () {
                var $self = $(this);
                var selectedPage = $self.find('option:selected').val();

                $.ajax({
                    method: "GET",
                    url: '@Url.Content("~/")' + 'Admin/SubPageList/GetPageItems?pageId=' + selectedPage,
                    success: function (data, textStatus, jqXHR) {
                        try {
                            $('#data-grid').html(data);
                            $('#grid-selection').show();
                            $('#data-grid table').dataTable();
                        } catch (ex) { }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            });
        });

        GetEditScreen = function (data) {
            $('#grid-selection').hide();
            $('#data-grid').html(data);
            GetEditor('textarea#PageItemDetailText, textarea#PageSubHeaderText');
        };

        GetEditor = function (selector) {
            tinymce.init({
                selector: selector,
                theme: "modern",
                //width: 300,
                //height: 300,
                menubar: false,
                statusbar : false,
                plugins: [
                     "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                     "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                     "save table contextmenu directionality emoticons template paste textcolor code"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | preview media fullpage | forecolor backcolor emoticons code",
            });
        }

        $('form').ajaxForm({
            beforeSend: function () {
                //status.empty();
                //var percentVal = '0%';
                //bar.width(percentVal)
                //percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                //var percentVal = percentComplete + '%';
                //bar.width(percentVal)
                //percent.html(percentVal);
            },
            success: function () {
                //var percentVal = '100%';
                //bar.width(percentVal)
                //percent.html(percentVal);
            },
            complete: function (xhr) {
                //status.html(xhr.responseText);
            }
        });
    </script>
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sub Screen</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Screens</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="grid-selection" class="form-group">
                            <label>Select Screen</label>
                            @Html.DropDownList("Page", (IEnumerable<SelectListItem>)ViewBag.Pages, new { @class="form-control", id = "page-selection" })
                        </div>
                        <div class="form-group" id="data-grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
