<div data-role="header" id="header-main">
    <a href="javascript:void(0)" class="ui-btn-left ui-btn ui-btn-inline ui-btn-icon-notext ui-icon-magnifier ui-corner-all">Magnifier</a>
    <h1><span>F</span>air<span>G</span>rounds</h1>
    <a href="javascript:void(0)" class="ui-btn-right ui-btn ui-btn-inline ui-btn-icon-notext ui-icon-star ui-corner-all">Star</a>
</div>
