@model List<string>

<div class="navbar">
      <ul>
        <li class="first"><a href="Fair">The Fair</a></li>        
        <li><a href="Fun">Fun</a></li>       
        <li class="active"><a href="Info">Info</a></li>       
        <li><a href="Social">Social</a></li>       
        <li class="last"><a href="javascript:void(0)">Map</a></li>
         @* @foreach (var @Item in Model)
          { 
            <li>
                <a href="@Item">@Item</a>
            </li>
          }*@

      </ul>
    </div>