@model List<string>

<div class="navbar">
    <ul>
        <li class="first"><a href="Fair">The Fair</a></li>
        <li><a href="Fun">Fun</a></li>
        <li class="active"><a href="Info">Info</a></li>
        <li><a href="Social">Social</a></li>
        <li class="last"><a href="Map">Map</a></li>
    </ul>
</div>
