@using NJFairground.Web.Utilities
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDirection</title>
    @Html.RenderStyles("~/Styles/MapStyleForApps")
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    @Html.RenderScripts("~/Scripts/GoogleMapAPIScriptForApps")
</head>
<body>
    <div class="ui-grid-solo inner-page">
        <div class="search-container">
            @Html.TextBox("origin", "", new { @class = "search-input", data_role = "none", placeholder = "Enter your location" })
        </div>
        <div id="map-area"></div>
        <div id="direction-area"></div>
        <div id="address-map-area" style="display:none;"></div>
    </div>
    @Html.Hidden("destination", CommonUtility.GetAppSetting<string>("FairGroundAddress"))
</body>
</html>
