@{
    ViewBag.Title = "Direction To Fairground | Sussex County Fairgrounds";
    ViewBag.PageId = "map";
    Layout = "~/Views/Shared/_LayoutPage.mobile.cshtml";
}

<h2 class="title">Directions to Fairgrounds</h2>
    <div class="ui-grid-solo inner-page">
       <img class="inner-banner map" src='@Url.Content("~/Styles/images/direction-map.jpg")' alt=""> 
    </div>
