@using NJFairground.Web.Utilities
@{
    ViewBag.Title = "Direction To Fairground | Sussex County Fairgrounds";
    ViewBag.PageId = "map";
}
@section PageStyle{
    @Html.RenderStyles("~/Styles/MapStyleForApps")
}
@section PageScript{
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    @Html.RenderScripts("~/Scripts/GoogleMapAPIScript")
}
<h2 class="title">Directions to Fairgrounds</h2>

<div class="ui-grid-solo inner-page">
    <div class="search-container1">
        @Html.TextBox("origin", "", new { @class = "search-input", data_role = "none", placeholder = "Enter your location" })
    </div>
    <div id="map-area"></div>
    <div id="direction-area"></div>
    <div id="address-map-area" style="display:none;"></div>
</div>
@Html.Hidden("destination", CommonUtility.GetAppSetting<string>("FairGroundAddress"))