@model List<NJFairground.Web.Models.PageItemModel>
@using NJFairground.Web.Utilities
@{
    ViewBag.Title = "Daily Highlights | Sussex County Fairgrounds";
    ViewBag.PageId = "daily-highlights";
    Layout = "~/Views/Shared/_LayoutPage.mobile.cshtml";
}
<h2 class="title">Daily Highlights</h2>
<div class="ui-grid-solo highlights">
    @foreach (var pageItemdata in Model)
    {
        <div class="ui-block-a highlight">
            <div class="text">
                <h4>@pageItemdata.PageHeaderText</h4>
                <p>@pageItemdata.PageSubHeaderText</p>
            </div>
            <div class="action">
                <a title="Details" class="details" href="@Url.Action("Index", "Details", new { PageId = Convert.ToInt32(NJFairground.Web.Models.Page.DailyHighlights), PageItemId = pageItemdata.PageItemId }) ">Details</a>
                <img class="star"  src='@Url.Content(string.Format("{0}{1}", CommonUtility.GetAppSetting<string>("UploadFolderItemImagePath"), pageItemdata.PageItemImage))' alt="">
            </div>
        </div>
    }
</div>
