@using NJFairground.Web.Models
@model List<PageItemModel>
@{
    ViewBag.Title = string.Format("{0} | Sussex County Fairgrounds", Model.PageHeaderText);
    ViewBag.PageId = Model.PageHeaderText;
}
<h2 class="title">Model.PageHeaderText</h2>
<div class="ui-grid-solo highlights complex inner-page">
    <img class="inner-banner" src='@Model.PageItemImageUrl' alt="">
    <div class="ui-block-a highlight">
        <div class="complextext">
            <h4>SHOPPING</h4>
            <br />
            @Html.Raw(Model.PageItemDetailText)
        </div>
    </div>
</div>
