@model List<NJFairground.Web.Models.PageItemModel>

@{
    ViewBag.Title = "Shopping | Sussex County Fairgrounds";
    Layout = "~/Views/Shared/_LayoutPage.mobile.cshtml";
    ViewBag.PageId = "shopping";
}

<h2 class="title">Shopping</h2>
<div class="ui-grid-solo fun-blocks">
    <div class="ui-block-a highlight">
        <div style="font-family: 'cafe_nero_m54regular'; font-weight: normal; font-size: 17px; line-height: 27px; color: #fff; letter-spacing: 4px; text-shadow: 1px 2px 1px #3e2809; text-align: center;">
            <h2>@Html.Raw("Not available yet…coming soon")</h2>
        </div>
    </div>
</div>
